# Ignore everything
/*

# Whitelist Git files
!.gitignore
!README.md

# Whitelist plugin files
!/encodeon-sales-rep-manager
/encodeon-sales-rep-manager/*
!/encodeon-sales-rep-manager/plugin
!/encodeon-sales-rep-manager/tests
!/encodeon-sales-rep-manager/composer.json
!/encodeon-sales-rep-manager/composer.lock
!/encodeon-sales-rep-manager/phpunit.xml
!/encodeon-sales-rep-manager/encodeon-sales-rep-manager.php
!/encodeon-sales-rep-manager/encodeon-sales-rep-manager-loader.php

# Whitelist vendor directories that can't be built with composer
!/encodeon-sales-rep-manager/vendor
/encodeon-sales-rep-manager/vendor/*
!/encodeon-sales-rep-manager/vendor/fontawesome
