# Ignore everything
/*

# Whitelist Git files
!.gitignore
!readme.md

# Whitelist plugin files in plugin root directory
!composer.json
!composer.lock
!encodeon-sales-rep-manager.php
!encodeon-sales-rep-manager-loader.php

# Whitelist plugin directories
!/plugin

# Whitelist vendor directories that can't be built with composer
!/vendor
vendor/*
!/vendor/fontawesome
!/vendor/jqvmap-master
!/vendor/tether-1.3.3
