# Ignore everything
/*

# Whitelist Git files
!.gitignore
!readme.md

# Whitelist plugin files in plugin root directory
!package.json
!package-lock.json
!encodeon-wp-sales-rep-manager.php
!encodeon-wp-sales-rep-manager-loader.php

# Whitelist plugin directories
!/plugin

# Whitelist vendor directories for dependencies that don't have a updated npm package
!/vendor
vendor/*
!/vendor/fontawesome
!/vendor/jqvmap-master
